<% layout("layouts/boilerplate") %>

<div class="campground-headline">
  <h1 class="campground-headline__title">Discover your next campsite.</h1>
  <p class="campground-headline__description">
    Discover new experiences, beautiful scenery, and outdoor escapes right down
    the road or across the country. From camping, hiking, and horseback riding
    to wildlife viewing, monument tours, and ranger-led activities – you can
    find it on.
  </p>
</div>
<div id="map" class="cluster-map"></div>
<div class="campground-headline mt-5">
  <h2 class="campground-headline__title">Find your next gateway</h2>
</div>
<div class="campgrounds">
  <% for (let camp of campgrounds) { %>
  <div class="campground">
    <a href="/campgrounds/<%= camp._id %>">
      <div class="campground-image">
        <img src="<%= camp.images[0].url %>" alt="<%= camp.title %>" />
      </div>
      <div class="campground-content">
        <h3><%= camp.title %></h3>
        <span><%= camp.location %></span>
      </div>
    </a>
  </div>
  <% } %>
</div>

<script>
  const mapToken = "<%- process.env.MAPBOX_TOKEN %>";
  const campgrounds = {features: <%- JSON.stringify(campgrounds) %>};
</script>

<script src="/scripts/clusterMap.js"></script>
